* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF5DB;
}

.board {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: aquamarine;
    border-radius: 6px;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 50px;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

.btn:hover {
    background-color: lightgray;
}

#resetBtn {
    grid-column: span 3;
    justify-self: center;
    padding: 4px;
    border-radius: 6px;
}

#resetBtn:hover {
    background-color: rgb(172, 147, 147);
}

#resultText{
    grid-column: span 3;
    justify-self: center;
    text-align: center;
}